.orange{
    color: #EF9B28;
}
.inputIcon i{
  color:#8391A1;
}
.inputIcon {
  color:white;
}
.form-control-Auth {
    all: unset;
  
    border-bottom: 1px solid #ffffff59 !important;
    padding: 0.375rem 0 !important;
  
    &::placeholder {
      color: white !important;
    }
  
    &:focus {
      all: unset;
    }
  }