
body{
  color: #494949 !important;
  font-size: 20px !important;
} 


form button
{
  background-color: #EF9B28 !important;
  color: #fff !important;
  font-weight: 500 !important;
  line-height: 46px;
  
} 
.form-group input{
  font-size: 14px;
  border: none!important;
  background-color: transparent!important;
  

}

::placeholder{
  color: rgba(255, 255, 255)!important;
}
.Forget-pass{
  color: rgba(255, 255, 255)!important;
  font-weight: 400;
  line-height: 22px;
 


}

input.login::after{
  content: 'ddd';
  width: 13px;
  height:5px;
  background-color: #EF9B28;
  position: absolute;
  bottom: 62%;
  right: 64%;
}

.form-group i{
  margin-left:5px;
  margin-top: 12px;
  position: relative;
  font-size: 10px;
}
.form-group i:after{
  content: '';
  background-color: rgba(9, 10, 10, 0.898);
  width: 1px;
  height: 22px;
  position: absolute;
  left: 15px;
  bottom: -7px;
}

.from-design{
  background-color: rgb(45, 86, 78,0.8);

}

.bg-overlay{
  background-image: url(assets/bg-logIn.png);

  background-size:  cover;
  background-position: bottom center;
 

}

.logo-toggle img{
  width: 150px;
}

.color{
  color: #EF9B28 !important;

}
.logo img{
  right: 25%;
  bottom: 20%;
}
.from-design span{
  font-size: 11px;
}
h4.color::after{
  content: '';
  width: 13px;
  height:5px;
  background-color: #EF9B28;
  position: absolute;
 
  top: 90%;
  right: 97%;
}
.from-design{
  background-color: rgb(45, 86, 78,0.8);

}
.bg-request{
  background-image: url(/src/assets/bg-reuest.png);
  background-position: 100vw 100vh;
  background-size: cover;
  
  overflow: hidden;
}
.email{
  color: #EF9B28;
  font-size: 13px;
  font-weight: 400;
line-height: 22px;
  position: absolute;
  bottom: 80%;
  right: 86%;
  margin-bottom: 2px;
  
}
.otp{
  color: #EF9B28;
  font-size: 13px;
  font-weight: 400;
line-height: 22px;
  position: absolute;
  bottom: 80%;
  right:72%;
  margin-bottom: 2px;
 
}
.newPass{
  color: #EF9B28;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  bottom: 80%;
  right:73%;
  margin-bottom: 2px;

}
.confirm{
  color: #EF9B28;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  bottom: 80%;
  right:68%;
  margin-bottom: 2px;

}
.bg-reset{
  background-image: url(/src/assets/bg-reset.png);
  background-position: center center;
  background-size: cover;
  
  overflow: hidden;
}